//THEME VARIABLES
$font-headers: 'Open Sans', sans-serif;
$font-bodytext: 'Time New Roman', serif;


//RULES


* { box-sizing: border-box; }
  
html, 
body {
  padding: 0;
  margin: 0;
}

#splash {
  text-align: center;
  .logo {
    position: fixed;
    display: inline-block;
    background-image: url('../img/am-logo.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .scroll-prompt {
    position: fixed;
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    .prompt-text {
      display: inline-block;
      position: fixed;
      left: 48.2%;
      transition: all ease 0.5s;
      -webkit-animation-name: pulse;
      -webkit-animation-duration: 4s;
      -webkit-animation-iteration-count: infinite;
    }
  }
  
  @-webkit-keyframes pulse {
    0% { opacity: 0; }
    50% { opacity: 0; }
    60% { opacity: 1; }
    70% { opacity: 0; }
    80% { opacity: 1; }
    100% { opacity: 0; }
  }
}

#menu {
  text-align: center;
  .menu {
    position: fixed;
    display: inline-block;
    top: 10%;
    left: 30%;
    width: 40%;
    height: 80%;
    border: 1px solid #555;
    font-family: 'Lato', sans-serif;
    overflow: scroll;
    .close-panel {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 8%;
      padding: 2%;
      font-size: 1.5em;
      border-top: 1px solid #555;
      background: #fff;
      opacity: 0;
      z-index: 5;
      cursor: pointer;
    }
    .menu-header {
      h2 { 
        margin: 0; 
        letter-spacing: 0.1em;
      }
      padding: 1%;
      font-weight: 700;
      font-size: 3em;
      border-bottom: 1px solid #555; 
    }
    .menu-nav {
      list-style-type: none;
      padding: 0;
      margin: 0;
      height: 100%;
      &>li {
        background: #fff;
        height: 22%;
        border-bottom: 1px solid #555;
        &:last-child { border: none; }
        font-size: 3em;
        font-weight: 300;
        padding-top: 7%;
        z-index: 0;
        transition: all ease 0.5s;
        &.panel {
          position: absolute;
          height: 100%;
          width: 100%;
          pointer-events: none;
          //display: none;
          top: 0;
          left: 0;
          padding: 8% 3% 8% 3%;
          z-index: 5;
          opacity: 0;
          font-size: 1.5em;
          overflow: scroll;
          ul { padding: 0; list-style-position: inside; }
          .headshot {
            height: 300px;
            border: 2px solid #333;
            border-radius: 50%;
          }
        }
        &.toggle:hover {
          background: #000;
          color: #fff;
        }
      }
    }
  }
  
  .panel.resume {
    text-align: left;
    padding: 0;
    h2 {
      display: block;
      margin: 0;
      background: #ddd;
      width: 100%;
    }
    h3 {
      margin: 1% 0;
      text-align: center;
      font-size: 0.8em;
      font-weight: 300;
      font-style: italic;
    }
    h4 {
      margin: 0;
    }
    h5 {
      margin: 0 0 0 2%;
      font-size: 1em;
      font-weight: 400;
      font-style: italic;
    }
    p {
      margin: 0.5% 0 3% 4%;
    }
  }

}


#about {
}

#portfolio {
}
