* {
  box-sizing: border-box; }

html,
body {
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5 {
  margin: 0; }

#splash {
  text-align: center; }
  #splash .logo {
    position: fixed;
    display: inline-block;
    background-image: url("../img/am-logo.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat; }
  #splash .scroll-prompt {
    position: fixed;
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif; }
    #splash .scroll-prompt .prompt-text {
      display: inline-block;
      position: fixed;
      left: 48.2%;
      transition: all ease 0.5s;
      -webkit-animation-name: pulse;
      -webkit-animation-duration: 4s;
      -webkit-animation-iteration-count: infinite; }
@-webkit-keyframes pulse {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  60% {
    opacity: 1; }
  70% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }
#menu {
  position: fixed;
  top: 5%;
  left: 20%;
  width: 60%;
  margin: 0 auto;
  display: inline-block; }
  @media (max-width: 850px) {
    #menu {
      width: 100%;
      left: 0;
      top: 0; } }

.menu {
  position: relative;
  min-width: 400px;
  margin: 10% auto 0 auto;
  border: 2px solid #333333;
  position: relative;
  box-shadow: 0px 1px 5px #AAAAAA;
  text-align: center; }
  .menu .menu-header {
    border-bottom: 2px solid #333333;
    padding: 2%;
    height: 75px;
    position: absolute;
    top: 0;
    width: 100%; }
    .menu .menu-header h2 {
      font-family: "Lato", sans-serif;
      font-size: 3em;
      letter-spacing: 0.2em;
      font-weight: 400; }
      @media (max-width: 530px) {
        .menu .menu-header h2 {
          font-size: 2em; } }
  .menu .menu-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 75px; }
    .menu .menu-nav .toggle {
      border: 1px solid #888888;
      padding: 2%;
      height: 15vh;
      min-height: 50px;
      line-height: 2.5em;
      transition: all ease 0.5s;
      font-family: "Lato", sans-serif;
      font-size: 2.5em;
      font-weight: 300; }
      @media (max-width: 530px) {
        .menu .menu-nav .toggle {
          font-size: 1.5em;
          line-height: 4em; } }
      @media (max-height: 550px) {
        .menu .menu-nav .toggle {
          font-size: 1em;
          line-height: 1em; } }
      .menu .menu-nav .toggle:hover {
        background: black;
        color: white; }
    .menu .menu-nav .panel {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 4% 4% 60px 4%;
      pointer-events: none;
      transition: all ease 0.5s;
      opacity: 0;
      overflow-y: scroll;
      font-family: "Lato", sans-serif; }
      .menu .menu-nav .panel:hover {
        background: white;
        color: black; }
  .menu .close-panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: white;
    border-top: 2px solid #333333;
    display: none;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.5em;
    box-shadow: 0 -1px 5px #AAAAAA;
    transition: all ease 0.5s; }
    .menu .close-panel:hover {
      background: #333333;
      color: white; }

#about {
  font-size: 1.5em; }
  #about .headshot {
    height: 300px;
    border: 2px solid #333333;
    box-shadow: 0 1px 5px #AAAAAA;
    border-radius: 50%; }
  #about ul {
    padding: 0;
    margin: 0; }
    #about ul li {
      list-style-position: inside; }

#resume {
  text-align: left; }
  #resume h2 {
    background: #AAAAAA; }
  #resume h4 {
    padding-left: 2%; }
  #resume h5 {
    font-size: 1em;
    padding-left: 4%;
    font-style: italic; }
  #resume p {
    padding-left: 4%;
    font-weight: 300;
    margin-top: 0; }

#portfolio .portfolio-preview {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 15%;
  border: 2px solid #AAAAAA;
  color: white;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #333333; }
  #portfolio .portfolio-preview .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(30, 30, 30, 0.8);
    transition: all ease 0.5s; }
    @media (max-height: 800px) {
      #portfolio .portfolio-preview .overlay {
        height: 100%; } }
    #portfolio .portfolio-preview .overlay:hover {
      background: rgba(30, 30, 30, 0); }
    #portfolio .portfolio-preview .overlay:hover ~ .title, #portfolio .portfolio-preview .overlay:hover ~ .info {
      opacity: 0; }
  #portfolio .portfolio-preview .left,
  #portfolio .portfolio-preview .right {
    position: absolute;
    top: 0;
    height: 100%;
    padding-top: 25%;
    width: 8%;
    transition: all ease 0.5s; }
    #portfolio .portfolio-preview .left:hover,
    #portfolio .portfolio-preview .right:hover {
      background: rgba(80, 80, 80, 0.8); }
  #portfolio .portfolio-preview .left {
    left: 0; }
  #portfolio .portfolio-preview .right {
    right: 0; }
  #portfolio .portfolio-preview .title {
    text-align: left;
    position: absolute;
    top: 2%;
    left: 10%;
    width: 80%;
    font-size: 2em;
    font-weight: 700;
    transition: all ease 0.5s; }
    @media (max-width: 530px) {
      #portfolio .portfolio-preview .title {
        font-size: 1.5em; } }
  #portfolio .portfolio-preview .info {
    text-align: left;
    position: absolute;
    bottom: 5%;
    left: 10%;
    width: 80%;
    font-size: 1.25em;
    transition: all ease 0.5s; }
    @media (max-height: 800px) {
      #portfolio .portfolio-preview .info {
        font-size: 0.75em;
        bottom: 5%;
        padding-top: 4em;
        overflow: scroll; } }
    #portfolio .portfolio-preview .info a:link {
      color: white; }
    #portfolio .portfolio-preview .info a:visited {
      color: white; }

#contact {
  font-size: 2em;
  font-weight: 300; }

/*# sourceMappingURL=main.css.map */
