//THEME VARIABLES
$font-sans: 'Lato', sans-serif;
$font-serif: 'Time New Roman', serif;

$dark: #AAAAAA;
$darker: #888888;
$darkest: #333333;

$logo-image: url('../img/am-logo.png');
$logo-svg: url('../img/am-logo.svg');

//RULES
* { box-sizing: border-box; }
  
html, 
body {
  padding: 0;
  margin: 0;
}

h1,
h2, 
h3, 
h4, 
h5 { margin: 0; }


#splash {
  text-align: center;
  .logo {
    margin: 0 auto;
    position: fixed;
    margin-left: -100px;
    display: inline-block;
    background-image: $logo-svg;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .scroll-prompt {
    position: fixed;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-left: -40px;
    top: 60%; 
    @media (max-height: 950px) { top: 70%; }
    @media (max-height: 650px) { top: 80%; }
    @media (max-height: 500px) { top: 90%; }
    // Move scroll prompt above logo when we get small enough
    // to hit clipping constraints.
    @media (max-height: 400px) { top: 30%; }
    .prompt-text {
      transition: all ease 0.5s;
      -webkit-animation-name: pulse;
      -webkit-animation-duration: 4s;
      -webkit-animation-iteration-count: infinite;
    }
  }
  
  @-webkit-keyframes pulse {
    0% { opacity: 0; }
    50% { opacity: 0; }
    60% { opacity: 1; }
    70% { opacity: 0; }
    80% { opacity: 1; }
    100% { opacity: 0; }
  }
}

//************* MAIN MENU ****************
#menu {
  position: fixed;
  top: 5%;
  left: 20%;
  width: 60%;
  margin: 0 auto;
  display: inline-block;

  @media (max-width: 850px) {
    width: 100%;
    left: 0;
    top: 0;
  }
}

.menu {
  position: relative;
  min-width: 400px;
  margin: 10% auto 0 auto;
  border: 2px solid $darkest;
  position: relative;
  box-shadow: 0px 1px 5px $dark;
  text-align: center;
  .menu-header {
    border-bottom: 2px solid $darkest;
    padding: 2%;
    height: 75px;
    position: absolute;
    top: 0;
    width: 100%;
    h2 {
      font-family: $font-sans;
      font-size: 3em;
      letter-spacing: 0.2em;
      font-weight: 400;
      @media (max-width: 530px) {
        font-size: 2em;
      }
    }
  }
  
  .menu-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 75px;
    .toggle {
      border: 1px solid $darker;
      padding: 2%;
      height: 15vh;
      min-height: 50px;
      line-height: 2.5em;
      transition: all ease 0.5s;
      font-family: $font-sans;
      font-size: 2.5em;
      font-weight: 300;
      @media (max-width: 530px) {
        font-size: 1.5em;
        line-height: 4em;
      }
      @media (max-height: 550px) {
        font-size: 1em;
        line-height: 1em;
      }
      &:hover {
        background: black;
        color: white;
      }
    }
    .panel {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 4% 4% 60px 4%;
      pointer-events: none;
      transition: all ease 0.5s;
      opacity: 0;
      overflow-y: scroll;
      font-family: $font-sans;
      &:hover {
        background: white;
        color: black;
      }
    }
  }

  .close-panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: white;
    border-top: 2px solid $darkest;
    display: none;
    font-family: $font-sans;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.5em;
    box-shadow: 0 -1px 5px $dark;
    transition: all ease 0.5s;
    &:hover {
      background: $darkest;
      color: white;
    }
  }
}

#about {
  font-size: 1.5em;
  .headshot {
    height: 300px;
    border: 2px solid $darkest;
    box-shadow: 0 1px 5px $dark;
    border-radius: 50%;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style-position: inside;
    }
  } 
}

#resume {
  text-align: left;
  h2 {
    background: $dark;
  }
  h4 {
    padding-left: 2%;
  }
  h5 {
    font-size: 1em;
    padding-left: 4%;
    font-style: italic;
  }
  p {
    padding-left: 4%;
    font-weight: 300;
    margin-top: 0;
  }
}

#portfolio {
  .portfolio-preview {
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 15%;
    border: 2px solid $dark;
    color: white;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $darkest;
    //overflow: scroll;
    .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(30, 30, 30, 0.8);
      //overflow: scroll;
      @media (max-height: 800px) { height: 100%; }
      transition: all ease 0.5s;
      &:hover { background: rgba(30, 30, 30, 0); }
      &:hover ~ .title,
      &:hover ~ .info { opacity: 0; }
    }
    .left,
    .right {
      position: absolute;
      top: 0;
      height: 100%;
      padding-top: 25%;
      width: 8%;
      transition: all ease 0.5s;
      &:hover {
        background: rgba(80, 80, 80, 0.8);
      }
    }
    .left { left: 0; }
    .right { right: 0; }
    .title {
      text-align: left;
      position: absolute;
      top: 2%;
      left: 10%;
      width: 80%;
      font-size: 2em;  
      font-weight: 700;
      transition: all ease 0.5s;
      @media (max-width: 530px) { font-size: 1.5em; }
    }
    .info {
      text-align: left;
      position: absolute;
      bottom: 5%;
      left: 10%;
      width: 80%;
      font-size: 1.25em;
      @media (max-height: 800px) { 
        font-size: 0.75em; 
        bottom: 5%;
        padding-top: 4em;
        overflow: scroll;
      }
      transition: all ease 0.5s;
      a:link { color: white; }
      a:visited {
        color:white;
      }
      .preview-details {
        @media (max-height: 700px), (max-width: 1200px) { display: none; }
      }
    }
  }
}

#contact {
  font-size: 2em;
  font-weight: 300;
}
