//THEME VARIABLES
$font-headers: 'Open Sans', sans-serif;
$font-bodytext: 'Time New Roman', serif;


//RULES


* { box-sizing: border-box; }
  
html, 
body {
  padding: 0;
  margin: 0;
}

#splash {
  text-align: center;
  .logo {
    position: fixed;
    display: inline-block;
    background-image: url('../img/am-logo.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

#menu {
  text-align: center;
  .menu {
    position: fixed;
    display: inline-block;
    top: 10%;
    left: 30%;
    width: 40%;
    height: 80%;
    border: 1px solid #555;
    font-family: 'Lato', sans-serif;
    .menu-header {
      h2 { margin: 0; }
      padding: 1%;
      font-weight: 700;
      font-size: 3em;
      border-bottom: 1px solid #555; 
    }
    .menu-nav {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        padding: 9.5% 5%;
        border-bottom: 1px solid #555;
        &:last-child { border: none; }
        font-size: 2em;
        font-weight: 300;
      }
    }
  }
}

#about {
}

#portfolio {
}
